body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
  }

  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }

  .map-dash {
    margin-left: 75px;
    margin-right: 75px;
  }

  .index-popover{
    
  }