{% extends "layout.html" %}
{% block content %}
<!-- PUT MAP UNDER HERE -->

<!-- Put the map in a div here -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">About</h1>
  <p><a class="btn btn-secondary btn-dark" href="https://github.com/josephchancey/ca-fire-dashboard">View This Repository &raquo;</a></p>
</div>


<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle" width="140" height="140" src="https://avatars.githubusercontent.com/u/84075822?v=4">

      <h2>Joseph Chancey</h2>
      <p>Data Analyst</p>
      <p><a class="btn btn-secondary btn-dark" href="https://github.com/josephchancey">Github &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle" width="140" height="140" src="https://avatars.githubusercontent.com/u/83804429?v=4">
      <h2>Breanna Sewell</h2>
      <p>Data Analyst</p>
      <p><a class="btn btn-secondary btn-dark" href="https://github.com/bre-sew">Github &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      
      <img class="rounded-circle" width="140" height="140" src="https://avatars.githubusercontent.com/u/85533882?v=4">
      <h2>David Koski</h2>
      <p>Data Analyst</p>
      <p><a class="btn btn-secondary btn-dark" href="https://github.com/dkoski23">Github &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">California Wildfires & Machine Learning</h2>
      <h3 class="text-muted">Why It Matters.</h3>
      <p class="lead">In 2021, California wildfires have burned more than <span class="fw-bold">1 million acres</span> and destroyed over <span class="fw-bold">3,600 buldings.</span> As climate change continues to worsen, the threat wildfires pose to California will only become greater. It is important now, more than ever, to not only monitor these wildfires but also determine ways to mitigate <span class="fw-bold">climate change</span> and then negative impact it has on our planet.</p>
      <br>
    <h3 class="text-muted">Our Goal.</h3>
   <p class="lead">We created this dashboard as a way to track active wildfires, view historical wildfire data, and get updates for developing wildfire situations.<br>
    </p>
    </div>
    <div class="col-md-5">
      <img class="img-fluid mx-auto" src="https://static01.nyt.com/images/2020/09/08/science/08CLI-CALFIRES-update/08CLI-CALFIRES-update-mediumSquareAt3X.jpg" width="500" height="500" >

    </div>
  </div>


  <hr class="featurette-divider">

  <br>
  <br>
  <br>

  <!-- /END THE FEATURETTES -->

</div><!-- /.container -->

<!-- Call JavaScript here-->

<!-- KEEP ALL CODE ABOVE THIS LINE -->
{% endblock content %}