{% extends "layout.html" %}
{% block content %}

<!-- Import data ??? -->
<!-- <div>{{ data }}</div> -->
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">California Wildfire Map</h1>

</div>
<!-- HEATMAP PLOT HERE -->
<div style="height: 650px;" id="firemap"></div>


<!-- <div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-top border-bottom">
  <h1 class="h2">Twitter Updates</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
      <a class="twitter-timeline" data-height="550" data-lang="en" data-dnt="true"
        data-chrome="nofooter noborders noheader noscrollbar" href="https://twitter.com/CAL_FIRE">Twitter Updates by Cal
        Fire</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-6">
      <a class="twitter-timeline" data-height="550" data-lang="en" data-dnt="true"
        data-chrome="nofooter noborders noheader noscrollbar" href="https://twitter.com/cafirescanner">Twitter Updates
        by Cal Fire</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Pre-Evacuation Preparation</h1>
</div>
<div class="container">
  <ul class="list-group">
    <li class="list-group-item">
      Have your Emergency Supply Kit/Evacuation Bag ready to go
    </li>
    <li class="list-group-item">
      Ensure a Wildfire Action Plan is prepared ahead of time
    </li>
    <li class="list-group-item">
      Make sure you know your community’s emergency response plan and have a plan on where to go when it is time to
      evacuate.
    </li>
    <li class="list-group-item">
      Shut all windows and doors, leaving them unlocked.
    </li>
    <li class="list-group-item">

      Remove flammable window shades, curtains and close metal shutters.
    </li>
    <li class="list-group-item">
      Remove lightweight curtains.
    </li>
    <li class="list-group-item">
      Move flammable furniture to the center of the room, away from windows and doors.
    </li>
    <li class="list-group-item">
      Shut off gas at the meter; turn off pilot lights.
    </li>
    <li class="list-group-item">
      Leave your lights on so firefighters can see your house under smoky conditions.
    </li>
    <li class="list-group-item">
      Shut off the air conditioning.
    </li>
    <li class="list-group-item">
      <p>For more information, visit <a
          href="https://www.readyforwildfire.org/prepare-for-wildfire/go-evacuation-guide/pre-evacuation-preparation-steps/">CalFire</a>
      </p>
    </li>
  </ul>
  <br>
  <br>
  <br>
  <br>
</div> -->


<!-- KEEP ALL CODE ABOVE THIS LINE -->
{% endblock content %}

{% block script %}
<!-- js syntax for Flask -->
<script src="{{ url_for('static', filename='firemap.js') }}"></script>
{% endblock %}